.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
..Rcheck/
LICENSE.md
README.Rmd
inst/doc
notes.md
TODO.md
toUTF.R
tableaux.R
/doc/
/Meta/
/.quarto/
/data-raw/*
!/data-raw/build_allFeatures.R
!/data-raw/build_inventories.R
!/data-raw/build_fr_lex.R
!/data-raw/build_it_lex.R
!/data-raw/build_sp_lex.R
!/data-raw/build_pt_wikt_corrections.R
!/data-raw/pt_wikt_corrections.tsv
!/data-raw/pt_manual_lex_fix.tsv
!/data-raw/build_fix_lexicons.R
/manual/*
!/manual/Fonology.pdf
/Fonology.pdf
