.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
..Rcheck/
LICENSE.md
README.Rmd
inst/doc
notes.md
TODO.md
toUTF.R
tableaux.R
/doc/
/Meta/
/.quarto/
/data-raw/*
!/data-raw/build_fr_lex.R
/manual/*
!/manual/Fonology.pdf
